{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% if items|length > 0 %}
          {% for item in items %}
            <li>{{ item.title }}</li>
          {% endfor %}
        {% else %}
          <li><i>No items added yet. Enter a new item below.</i></li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <label for="add-item">Create new item:</label>
      <form action="/addItem" method="post">
        <input type="text" id="add-item" name="add-item" required size="30">
        <button type="submit" class="btn btn-primary">Add item</button>
      </form>
    </div>
  </div>
{% endblock %}